client_id=<<<     client id       >>>
client_secret=<<< client secret   >>>
redirect_uri=<<<  redirect uri    >>>
authorization_ep=https://proxy.sram.surf.nl/saml2sp/OIDC/authorization
response_type=code
scope=openid offline_access email eduperson_principal_name
access_type=offline
prompt=consent
token_ep=https://proxy.sram.surf.nl/OIDC/token
introspect_url=https://proxy.sram.surf.nl/OIDC/userinfo
result_field=/eduperson_principal_name/0
